:root {
  --violet-blue: #666ca3;
  --dark-blue: #12183f;
  --grey: #83869a;
  --strong-pink: #f74780;
  --light-pink: #ffa7c3;
  --gradient11: #f02aa6;
  --gradient12: #ff6f48;
  --gradient21: #4851ff;
  --gradient22: #f02aa6;
  --font: "Plus Jakarta Sans", sans-serif;
}
